export OS_USERNAME=tester
export OS_PASSWORD=testing
export OS_PROJECT_NAME=test
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_AUTH_URL=http://{{ keystone_endpoint_controller_hostname }}:{{ haproxy_keystone_public_service_port }}/v3
export OS_IDENTITY_API_VERSION=3
