#
# * mysqld-related settings
#
[mysqld]
skip-name-resolve = 1
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
bind-address=0.0.0.0

#
# * Galera-related settings
#
# Galera Provider Configuration
{% if SAIO %}
wsrep_on=OFF
{% else %}
wsrep_on=ON
{% endif %}
# Rocky/RHEL AppStream: /usr/lib64/galera/libgalera_smm.so
# MariaDB.org galera-4: /usr/lib64/galera-4/libgalera_smm.so
wsrep_provider={{ mariadb_wsrep_provider | default('/usr/lib64/galera-4/libgalera_smm.so') }}

# Galera Cluster Configuration
wsrep_cluster_name="{{ mariadb_cluster_name }}"
wsrep_cluster_address="gcomm://{{ mariadb_storage_network_addresses|join(',') }}"
wsrep_retry_autocommit={{ mariadb_retry_autocommit | default('10') }}
wsrep_slave_threads={{ mariadb_slave_threads | default('8') }}
wsrep_provider_options="gcache.page_size={{ mariadb_gcache_page_size }};gcache.size={{ mariadb_gcache_size}};gcache.recover={{ mariadb_gcache_recover }}"

# Galera Synchronization Configuration
wsrep_sst_method=rsync

# Galera Node Configuration
wsrep_node_address="{{ mariadb_storage_network_addresses|intersect(ansible_all_ipv4_addresses)|first|default('127.0.0.1') }}"
wsrep_node_name="{{ ansible_hostname }}"
