/var/log/supervisor/*.log
{
    daily
    rotate 30
    missingok
    notifempty
    compress
    sharedscripts
    postrotate
        /usr/bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
        /usr/bin/kill -HUP `cat /var/run/rsyslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}