[program:keystone-admin]
command=/usr/local/bin/uwsgi --ini /etc/uwsgi/keystone-admin.ini
user=root
numprocs=1
stdout_logfile=/var/log/supervisor/keystone-admin.log
stderr_logfile=/var/log/supervisor/keystone-admin.log
autostart=true
autorestart=true
startsecs=5
stopwaitsecs = 5
stopasgroup=true
priority=1000
[program:keystone-public]
command=/usr/local/bin/uwsgi --ini /etc/uwsgi/keystone-public.ini
user=root
numprocs=1
stdout_logfile=/var/log/supervisor/keystone-public.log
stderr_logfile=/var/log/supervisor/keystone-public.log
autostart=true
autorestart=true
startsecs=5
stopwaitsecs = 5
stopasgroup=true
priority=1000