[OSSCredentials]
{% if not use_lb %}
host = {{ auth_url_ip }}:{{ proxy_server_bind_port }}
{% endif %}
{% if use_lb %}
host = {{ auth_url_ip }}:{{ swift_lb_port }}
{% endif %}
accessid = test:tester
accesskey = {{ tester_password.stdout_lines | join(' ') }}
